*.py[cod]
__pycache__/
.DS_Store
results/
Banknote.csv
Banknote_shuf.csv
.idea/
src/python_log.txt
grammars/unsupervised_learning/association_rules.bnf
parameters/association_rules.txt
src/.vscode/launch.json
datasets/data.arff
